# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Database
db.sqlite3

# Django
*.log
staticfiles/

# Environment variables
.env

# VSCode
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db